.aniWrapper{
  width: 18em;
  height: 18em;
  position: relative;
  margin: 5em;
  /*border: 2px solid #ccc;*/
}

.aniWrapper a{
  width: 4em;
  height: 4em;
  margin: -2em;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 1000;
}

.aniWrapper img{
  width: 100%;
  height: 100%;
  display: block;
}

.aniWrapper span{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid red;
  z-index: 500;
}

.center{

}
/*.deg0{
  transform: translate(18em);
}
.deg45{
  transform: rotate(45deg) translate(18em) rotate(-45deg);
}
.deg90{
  transform: rotate(90deg) translate(18em) rotate(-90deg);
}
.deg135{
  transform: rotate(135deg) translate(18em) rotate(-135deg);
}
.deg180{
  transform: rotate(180deg) translate(18em) rotate(-180deg);
}
.deg225{
  transform: rotate(225deg) translate(18em) rotate(-225deg);
}
.deg270{
  transform: rotate(270deg) translate(18em) rotate(-270deg);
}
.deg315{
  transform: rotate(315deg) translate(18em) rotate(-315deg);
}*/

.deg0{
  animation: def0F 5s forwards;
}
.deg45{
  animation: def45F 5s forwards;
}
.deg90{
   animation: def90F 5s forwards;
}
.deg135{
  animation: def135F 5s forwards;
}
.deg180{
  animation: def180F 5s forwards;
}
.deg225{
  animation: def225F 5s forwards;
}
.deg270{
  animation: def270F 5s forwards;
}
.deg315{
  animation: def315F 5s forwards;
}

@keyframes def0F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: translate(9em);
  }
}
@keyframes def45F{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(45deg) translate(9em) rotate(-45deg);
  }
}
@keyframes def90F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(90deg) translate(9em) rotate(-90deg);
  }
}
@keyframes def135F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(135deg) translate(9em) rotate(-135deg);
  }
}
@keyframes def180F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(180deg) translate(9em) rotate(-180deg);
  }
}
@keyframes def225F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(225deg) translate(9em) rotate(-225deg);
  }
}
@keyframes def270F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(270deg) translate(9em) rotate(-270deg);
  }
}
@keyframes def315F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(315deg) translate(9em) rotate(-315deg);
  }
}


.line{
  animation: line0F 4s forwards;
}
@keyframes line0F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: translate(8.9em) scaleX(64);
  }
}

.line45{
  animation: line45F 4s forwards;
}

@keyframes line45F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(45deg) translate(8.9em) scaleX(64);
  }
}

.line90{
  animation: line90F 4s forwards;
}

@keyframes line90F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(90deg) translate(8.9em) scaleX(64);
  }
}

.line135{
  animation: line135F 4s forwards;
}

@keyframes line135F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(135deg) translate(8.9em) scaleX(64);
  }
}

.line180{
  animation: line180F 4s forwards;
}

@keyframes line180F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(180deg) translate(8.9em) scaleX(64);
  }
}

.line225{
  animation: line225F 4s forwards;
}

@keyframes line225F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(225deg) translate(8.9em) scaleX(64);
  }
}

.line270{
  animation: line270F 4s forwards;
}

@keyframes line270F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(270deg) translate(8.9em) scaleX(64);
  }
}

.line315{
  animation: line315F 4s forwards;
}

@keyframes line315F{
  from{
    transform: roatate(0deg);
  }
  to{
    transform: rotate(315deg) translate(8.9em) scaleX(64);
  }
}